@* En .cshtml fil består egentlig af to filer. I dette tilfælde en Index.cshtml (Dette er en din HTML side) og en Index.cshtml.cs. 
Dette er klassen, som står for alt det logik der foregår på din side. Se mere info klassen ved at åbne filen. Et eksempel kunne være hvad der skal ske, når man klikker på en bestemt knap.
*@

@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
